#titleDescriptionSearch,
#titleDescriptionLabel,
#itemsPerPageSelector,
.checkLabel {
  font-family: $font-main;
  color: $text-color;
  font-weight: bold;
}

#titleDescriptionSearch {
  font-family: $font-main;
  font-size: 16pt;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  height: 35px;
}
#titleDescriptionLabel {
  font-size: 20pt;
  font-family: $font-main;
}

#searchForm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}
#itemsPerPageSelector {
  height: 35px;
  margin-left: 20px;
}

#checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mechanicsCheckboxes,
#categoriesCheckboxes {
  max-height: 400px;
  width: 300px;
  border: solid 1px black;
  overflow: scroll;
}
