@import '../1-helpers/mixins';

.shelfItemBox {
  display: relative;
  margin: 20px;
  padding: 10px;
  background: white;
  text-decoration: none;

  @include border();
  img {
    height: 140px;
    object-fit: cover;
  }
  .nameFlex {
    display: flex;
    justify-content: center;
  }
  h3 {
    display: inline-block;
    text-align: center;
    font-family: $font-heading;
    margin: 5px 2px 10px 2px;
    padding: 2px 20px;
    background: $base-color;
    @include border();
  }
  p {
    font-family: $font-main;
    font-size: 0.8rem;
  }
}

.shelfItemFlex {
  display: flex;
  flex-direction: row;
}

.linkContainer {
  display: relative;
}

.linkContainer:hover .infoText {
  opacity: 1;
}
.linkContainer:hover .shelfImage {
  opacity: 0.4;
}

.overlay {
  position: relative;
}

.infoText {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%);

  text-decoration: none;
  padding: 10px;
  background: $base-color;
  opacity: 0;
  transition: 0.5ms;
  border-radius: 1px;
  color: $text-color;
}
.infoText {
  transition: 0.5s ease;
}

.shelfImage {
  transition: 0.5s ease;
}

.stats {
  display: relative;
  width: 100%;
  margin: 10px 0 10px 10px;
  padding: 15px;
  @include border();
  background: $base-color;
  h4 {
    font-family: $font-heading;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 10px;
  }
}

.rating {
  p {
    display: inline-block;
    margin-right: 5px;
  }
}

@media (min-width: $bp-mobile) {
  .shelfItemBox {
    width: 350px;
    margin: 20px auto;
  }
}

@media (min-width: $bp-tablet) {
  .shelf {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .shelfItemBox {
    width: 400px;
  }
}
